<app-header [title]="title"></app-header>

<ion-content>
  <!-- 新闻图表chip -->
  <div class="chipBox">
    <ion-chip color="primary">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>柱状图</ion-label>
    </ion-chip>
    <ion-chip color="primary">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>饼图</ion-label>
    </ion-chip>
  </div>
  <!-- 新闻统计主体部分 -->
  <ion-card *ngIf="isBar">
    <ion-card-content>
      <div echarts [options]="barOption"></div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!isBar">
    <ion-card-content>
      <div echarts [options]="pieOption"></div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button fill="outline" shape="round" (click)="todayNews()">
      各类新闻统计
    </ion-button>
    <ion-button fill="outline" shape="round" slot="end" (click)="newsClass()">
      各类新闻占比
    </ion-button>
  </ion-toolbar>
</ion-footer>