<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button text="" icon="chevron-back-outline" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>消息通知</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messageBox">
    <p class="messageTime">2020-2-22 15:01</p>
    <ion-card style="margin-top: 10px;">
      <ion-card-header style="margin: -3vh 0;">
        <h4 style="color: #000;">温馨提示</h4>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile.
      </ion-card-content>
    </ion-card>
  </div>
  <div class="messageBox">
    <p class="messageTime">2020-2-22 15:01</p>
    <ion-card style="margin-top: 10px;">
      <ion-card-header style="margin: -3vh 0;">
        <h4 style="color: #000;">温馨提示</h4>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>