<app-header [title]="title" [backButton]="backButton"></app-header>

<ion-content>
  <ion-app>
    <div class="title">
      <ion-img src="../../../assets/images/logo.png"></ion-img>
    </div>
    <ion-content class="content">
      <p>爱看新闻以“新闻飞入千万家”为理念，坚持用户至上为原则。<strong>爱看新闻再次特别强调：本新闻未开放任何充值窗口，如有任何提示充值信息，请勿相信，最终解释权归爱看新闻团队所有！</strong>如果您有任何的疑问或建议，欢迎点击下方的联系按钮致电爱看新闻客服！</p>
      <a href="tel:15515182060" class="number">
        <ion-button expand="block" shape="round" class="contactBtn">
          <ion-icon slot="start" name="call-outline" class="icon"></ion-icon>
          15515182060
        </ion-button>
      </a>
    </ion-content>
  </ion-app>
</ion-content>