.title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    ion-img{
        width: 60vw;
        margin-bottom: 3vh;
    }
}

.content {
    text-align: center;

    p {
        padding: 0 5vw;
        line-height: 4vh;
        color: #999;
    }
    .number {
        .contactBtn {
            margin: 10vh 5vw 0 5vw;
            color: #fff;
            text-decoration: none;

            .icon {
                margin-right: 2vw;
            }
        }
    }

}