ion-content {
    --padding-end: 10px;
    --padding-start: 15px;
}

.label-stacked.sc-ion-label-ios-h {
    font-size: 16px;
    color: #000;
}

ion-list {
    margin-top: 50px;
}

ion-item {
    --padding-start: 0;
}

ion-textarea {
    --background: #F0F3F4;
}

.btn {
    margin-top: 30px;
}