<div class="container">
  <ion-item lines="full">
    <ion-label position="floating">欢迎写下你的评论[100字以内]</ion-label>
    <ion-textarea color="#000" spellcheck="true" maxlength="100" [(ngModel)]="comContent"></ion-textarea>
  </ion-item>
  <div class="sendBtnBox">
    <ion-button fill="outline" shape="round" size="small" (click)="publishCom()">
      发表
    </ion-button>
  </div>
  <ion-list>
    <ion-card style="width: 93vw; margin-left: 0;" *ngFor="let item of comment">
      <ion-item>
        <ion-avatar>
          <img [src]="item.headPhoto">
        </ion-avatar>
        <ion-label style="margin-left: 5px;">
          <h2>{{item.nickName}}</h2>
        </ion-label>
        <ion-label style="position: absolute; top: 0; right: 0;" (click)="likeEvent()">
          <ion-icon name="thumbs-up-outline" #likeIcon></ion-icon>
          <ion-text #likeNum>{{item.like}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-card-content style="padding-top: 5px; padding-bottom: 5px;">
        <p>{{item.content}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</div>