<ion-app class="container">
  <!-- 登录 -->
  <ion-content *ngIf="isLogin">
    <div class="loginTitle">
      <ion-img src="../../assets/images/logo.png" style="width: 65vw;"></ion-img>
    </div>
    <!-- 登录表单 -->
    <div class="form">
      <ion-list>
        <!-- 账号 -->
        <ion-item lines="inset">
          <ion-label position="floating" color="dark">账号</ion-label>
          <ion-input required type="text" [(ngModel)]="loginAccount"></ion-input>
        </ion-item>
        <!-- 密码 -->
        <ion-item lines="inset">
          <ion-label position="floating" color="dark">密码</ion-label>
          <ion-input required type="password" [(ngModel)]="loginPwd"></ion-input>
        </ion-item>
      </ion-list>
      <div style="text-align: right;">
        <p>没有账号？<a href="javascript:void(0)" (click)="registerPage()" style="text-decoration: none;">点击注册！</a></p>
      </div>
    </div>
    <!-- 登录按钮 -->
    <div class="loginBtn">
      <ion-button expand="block" class="ion-no-margin" (click)="login()">登录</ion-button>
    </div>
  </ion-content>
  <!-- 注册 -->
  <ion-content *ngIf="!isLogin">
    <div class="registerTitle">
      <h1>注册</h1>
      <p>已有账号？<a href="javascript:void(0)" (click)="loginPage()">点击登录！</a></p>
    </div>
    <!-- 注册表单 -->
    <div class="form">
      <ion-list>
        <!-- 手机号 -->
        <ion-item lines="inset">
          <ion-label position="floating" color="dark">请输入您的手机号</ion-label>
          <ion-input required type="text" [(ngModel)]="registerAccount"></ion-input>
        </ion-item>
        <!-- 密码 -->
        <ion-item lines="inset">
          <ion-label position="floating" color="dark">请输入您的密码[6-12位]</ion-label>
          <ion-input required type="password" [(ngModel)]="registerPwd"></ion-input>
        </ion-item>
        <!-- 确认密码 -->
        <ion-item lines="inset">
          <ion-label position="floating" color="dark">请再次确认密码</ion-label>
          <ion-input required type="password" [(ngModel)]="registerPwdAgain"></ion-input>
        </ion-item>
        <ion-item lines="none" style="margin-top: 10px;">
          <ion-checkbox color="primary" checked slot="start" (ionChange)="agreement()"></ion-checkbox>
          <span class="agreement">我已阅读并同意<a href="javascript:void(0)">爱看新闻团队用户协议</a>和<a
              href="javascript:void(0)">爱看新闻团队APP公约</a></span>
        </ion-item>
      </ion-list>
    </div>
    <!-- 注册按钮 -->
    <div class="loginBtn">
      <ion-button expand="block" class="ion-no-margin" (click)="register()">注册</ion-button>
    </div>
  </ion-content>
</ion-app>