<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="class">
      <ion-icon name="filter-outline"></ion-icon>
      <ion-label>分类</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>统计</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
