<app-header [title]="title"></app-header>

<ion-content>
  <!-- 发布新闻或消息通知 -->
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge *ngIf="administrator">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="toReleaseNews()">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="toReleaseMsg()">
        <ion-icon name="notifications-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- 个人信息卡片 -->
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-avatar>
          <img [src]="userPhoto">
        </ion-avatar>
      </ion-thumbnail>
      <ion-label>
        <h2>{{nickName}}</h2>
        <p>{{userSign}}</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-chip *ngFor="let item of userTag">
        <ion-label [color]="item.color">{{item.tag}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
  <!-- 完善信息 -->
  <ion-card>
    <ion-item lines="none" button (click)="toUserInfo()">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-text fill="outline" slot="start">完善信息</ion-text>
    </ion-item>
  </ion-card>
  <!-- 我的收藏 -->
  <ion-card>
    <ion-item lines="none" button (click)="toMyCollect()">
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-text fill="outline" slot="start">我的收藏</ion-text>
    </ion-item>
  </ion-card>
  <!-- 消息通知 -->
  <ion-card>
    <ion-item lines="none" button (click)="toMessage()">
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-text fill="outline" slot="start">消息通知</ion-text>
      <ion-badge *ngIf="msgNum" color="danger" slot="end">{{msgNum}}</ion-badge>
    </ion-item>
  </ion-card>
  <!-- 联系我们 -->
  <ion-card>
    <ion-item lines="none" button (click)="toContact()">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-text fill="outline" slot="start">联系我们</ion-text>
    </ion-item>
  </ion-card>
  <!-- 退出登录 -->
  <ion-card>
    <ion-item lines="none" button (click)="userExit()">
      <ion-icon slot="start" name="power-outline"></ion-icon>
      <ion-text fill="outline" slot="start">退出登录</ion-text>
    </ion-item>
  </ion-card>
</ion-content>