<app-header [title]="title"></app-header>

<ion-content>
  <!-- 个人信息卡片 -->
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-avatar>
          <img src="https://s2.ax1x.com/2020/03/03/34B4cF.png">
        </ion-avatar>
      </ion-thumbnail>
      <ion-label>
        <h2>{{nickName}}</h2>
        <p>{{userSign}}</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-chip *ngFor="let item of userTag">
        <ion-label [color]="item.color">{{item.tag}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
  <!-- 完善信息 -->
  <ion-card>
    <ion-item lines="none" button (click)="toUserInfo()">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-text fill="outline" slot="start">完善信息</ion-text>
    </ion-item>
  </ion-card>
  <!-- 消息通知 -->
  <ion-card>
    <ion-item lines="none" button (click)="toMessage()">
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-text fill="outline" slot="start">消息通知</ion-text>
      <ion-badge color="danger" slot="end">{{msgNum}}</ion-badge>
    </ion-item>
  </ion-card>
  <!-- 联系我们 -->
  <ion-card>
    <ion-item lines="none" button (click)="toContact()">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-text fill="outline" slot="start">联系我们</ion-text>
    </ion-item>
  </ion-card>
  <!-- 退出登录 -->
  <ion-card>
    <ion-item lines="none" button (click)="userExit()">
      <ion-icon slot="start" name="power-outline"></ion-icon>
      <ion-text fill="outline" slot="start">退出登录</ion-text>
    </ion-item>
  </ion-card>
</ion-content>