<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button text="" icon="chevron-back-outline" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>我的信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-item lines="none">
        <ion-label>昵称：流年不追忆</ion-label>
        <ion-button fill="outline" slot="end">修改</ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>姓名：孙永威</ion-label>
        <ion-button fill="outline" slot="end">修改</ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>手机：15515182060</ion-label>
        <ion-button fill="outline" slot="end">修改</ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>出生日期：2020-2-21</ion-label>
        <ion-button fill="outline" slot="end">修改</ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>我的特长</ion-label>
        <ion-button fill="outline" slot="end">修改</ion-button>
      </ion-item>
      <ion-card-content>
        <ion-chip>
          <ion-label color="primary">篮球</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label color="secondary">足球</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label color="tertiary">羽毛球</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label color="warning">游泳</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label color="light">乒乓球</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>个性签名</ion-label>
        <ion-button fill="outline" slot="end">修改</ion-button>
      </ion-item>
      <ion-card-content>
        这是我的个性签名这是我的个性签名这是我的个性签名这是我的个性签名
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
