<app-header [title]="title" [backButton]="backButton"></app-header>

<ion-content>
  <ion-list>
    <ion-card button (click)="changeNickName()">
      <ion-item lines="none">
        <ion-label>昵称 <ion-text color="danger">*</ion-text></ion-label>
        <ion-text slot="end">{{nickName}}</ion-text>
      </ion-item>
    </ion-card>
    <ion-card button (click)="changeName()">
      <ion-item lines="none">
        <ion-label>姓名 <ion-text color="danger">*</ion-text></ion-label>
        <ion-text slot="end">{{name}}</ion-text>
      </ion-item>
    </ion-card>
    <ion-card button (click)="changeQQ()">
      <ion-item lines="none">
        <ion-label>QQ <ion-text color="danger">*</ion-text></ion-label>
        <ion-text slot="end">{{qqNumber}}</ion-text>
      </ion-item>
    </ion-card>
    <ion-card button (click)="changeWeChat()">
      <ion-item lines="none">
        <ion-label>微信 <ion-text color="danger">*</ion-text></ion-label>
        <ion-text slot="end">{{weChatNumber}}</ion-text>
      </ion-item>
    </ion-card>
    <ion-card button (click)="changePhone()">
      <ion-item lines="none">
        <ion-label>手机号 <ion-text color="danger">*</ion-text></ion-label>
        <ion-text slot="end">{{phone}}</ion-text>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>出生日期 <ion-text color="danger">*</ion-text></ion-label>
        <ion-text slot="end">{{birthday}}</ion-text>
        <ion-datetime [pickerOptions]="dateOptions" pickerFormat="YYYY-MM-DD" mode="md">
        </ion-datetime>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>个性标签 <ion-text color="danger">*</ion-text></ion-label>
        <ion-button fill="outline" slot="end" (click)="changeLabel()">修改</ion-button>
      </ion-item>
      <ion-card-content>
        <ion-chip *ngFor="let item of label">
          <ion-label [color]="item.color">{{item.tag}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label>个性签名 <ion-text color="danger">*</ion-text></ion-label>
        <ion-button fill="outline" slot="end" (click)="changeSignature()">修改</ion-button>
      </ion-item>
      <ion-card-content>{{signature}}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>