<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start" style="position: absolute;">
      <ion-back-button text="" icon="chevron-back-outline" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>新闻详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- 标题 -->
    <div class="newsTitleBox">
      <ion-text>
        <h1 class="newsTitle">这是新闻标题这是新闻标题这是新闻标题</h1>
        <ion-chip color="primary">
          <ion-label>来源：新华社</ion-label>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>时间：2020-1-9</ion-label>
        </ion-chip>
      </ion-text>
    </div>
    <!-- 内容 -->
    <div class="newsContentBox">
      <p class="newsContent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit
        amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
        viverra justo commodo. Proin sodales pulvinar sic tempor. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
        sodales pulvinar sic tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic
        tempor.
      </p>
    </div>
    <!-- 浏览收藏量 -->
    <div class="BACBox">
      <div class="browserNum">
        <ion-chip color="primary" outline="true">
          <ion-icon name="heart-circle-outline"></ion-icon>
          <ion-label>3398</ion-label>
        </ion-chip>
      </div>
      <div class="collectNum">
        <ion-chip color="primary" outline="true">
          <ion-icon name="eye-outline"></ion-icon>
          <ion-label>3398</ion-label>
        </ion-chip>
      </div>
    </div>
    <!-- 评论组件 -->
    <app-comment></app-comment>
  </div>
</ion-content>