<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">热点新闻</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="toNewsDetail()">
    <div class="newsImgBox">
      <img src="../../../assets/newsImg/yangshi.jpg" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>新华社：2020-2-20</ion-card-subtitle>
      <ion-card-title>叙利亚局势在线</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      叙利亚政府军于抵抗派发生激烈的交火冲突。
    </ion-card-content>
  </ion-card>
</ion-content>
