<app-header [title]="title"></app-header>

<ion-content>
  <div *ngFor="let item of newsData">
    <ion-card (click)="toNewsDetail(item.id)">
      <div class="newsImgBox" *ngIf="item.images">
        <img [src]="item.images" />
      </div>
      <ion-card-header>
        <ion-card-subtitle>{{item.source}}：{{item.date}}</ion-card-subtitle>
        <ion-card-title>
          <h4 style="font-weight: bold;margin-bottom: 0;">{{item.title}}</h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>{{item.intro}}</ion-card-content>
    </ion-card>
  </div>

</ion-content>